<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" th:fragment="form(sobremesa, descricao)">
  <h2 th:text="${descricao}"></h2>
  <div class="table-responsive">
      <form th:object="${sobremesa}" method="post" th:action="@{/salvar}" enctype="multipart/form-data">
          <input type="hidden" th:field="${id}">
          <table class="table table-sm">
              <tbody>
              <tr>
                  <td style="text-align: end;">Descrição:</td>
                  <td><input type="text" class="form-control" th:field="${descricao}"></td>
                  <p th:if="${#fields.hasErrors('descricao')}" th:errors="${descricao}"></p>
              </tr>
              <tr>
                  <td style="text-align: end;">Nome</td>
                  <td><input type="text" class="form-control" th:field="${nome}"></td>
              </tr>
              <tr>
                  <td style="text-align: end;">Preço:</td>
                  <td><input type="text" class="form-control" th:field="${preco}"></td>
              </tr>
              <tr>
                  <td style="text-align: end;">Imagem:</td>
                  <td><input type="file" name="file"/></td>
              </tr>
              <tr>
                  <td style="text-align: end;">Vegana:</td>
                  <td><input type="text" class="form-control" th:field="${vegana}"></td>
              </tr>
              <tr>
                  <td style="text-align: end;"><button type="submit" class="btn btn-primary">Enviar</button></td>
                  <td><button type="submit" class="btn btn-danger">Limpar</button></td>
              </tr>
              </tbody>
          </table>
      </form>
  </div>
</main>